HTTP_HOST=0.0.0.0
PORT=8082
TCP_HOST=0.0.0.0
TCP_PORT=3724
SUPABASE_URL=https://ciodeetppyjdmcxrixmg.supabase.co
SUPABASE_SERVICE_ROLE_KEY=RN5uTn0VON94wqOQUCKmH5V8RkU+5TOVWSGUOQ5PGBBYWx9WooJGZXkKvEpKWmBgLbv/9N8WtiYwT6jylJ6oFQ==

.gitnexus
